@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

.header {
  background-color: #000000;
  height: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logomarca-pages {
  width: 100%;
  display: flex;
  justify-self: center;
  align-items: center;
}

.logomarca {
  width: 260px;
  height: 100%;
  display: flex;
  justify-self: center;
  align-items: center;
}

.logomarca img {
  max-width: 250px;
  max-height: 250px;
}

.barra-pesquisa {
  width: 90%;
  height: 35%;
  border-width: 2px;
  border-style: solid;
  border-color: #ffffff;
  border-radius: 30px;
  display: flex;
  justify-content: end;
}

.barra-pesquisa img {
  max-height: 70%;
  margin-top: 10px;
  margin-right: 10px;
}

.barra-pesquisa input {
  width: 80%;
  background-color: black;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  color: white;
  box-shadow: 0 0 0 0;
  border: 0 none;
  outline: 0;
}

.barra-pesquisa input:focus {
  box-shadow: 0 0 0 0;
  border: 0 none;
  outline: 0;
}

.pesquisa-site {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.options {
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border-style: solid;
  border-color: #ffffff; */
}

.usuario {
  width: 30%;
  height: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.usuario a {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
.usuario a img {
  max-width: 65%;
  max-height: 65%;
}

.usuario span {
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  padding-left: 10px;
}

.pedidos {
  width: 30%;
  height: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pedidos a {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.pedidos a img {
  max-width: 50%;
  max-height: 50%;
}

.pedidos span {
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  padding-left: 10px;
}

.menu-sanduich {
  width: 200px;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
}

.menu-sanduich img {
  max-height: 80%;
}

.container-grid {
  background-color: #000580;
  height: 70px;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu {
  width: 100%;
  padding-top: 20px;
}

.menu ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.menu ul li {
  display: inline;
  justify-content: center;
  align-items: center;
}

.menu a {
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 26px;
  margin-right: 50px;
}

#promos .promo-slide {
  display: none;
}

#promos .promo-on {
  display: flex;
}

#comments .comment-slide {
  display: none;
}

#comments .comment-on {
  display: flex;
}

.banner {
  width: 100%;
  height: 490px;
  background-image: url(../../../assets/img/banner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.linha {
  background-color: #ffffff;
  height: 1px;
}

.section-promo {
  background-color: #000000;
}

.section-title {
  margin-top: 0;
  display: flex;
  justify-content: center;
}

.section-title span {
  margin-top: 30px;
  background-color: #000580;
  color: #ffffff;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 28px;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  width: 70%;
  border-style: solid;
  border-color: #ffffff;
  border-radius: 20px;
  border-width: 1px;
}

.container-promo {
  margin-right: 10px;
  text-align: center;
  padding: 20px;
}

.container-promo img {
  margin-top: 50px;
  width: 100%;
  height: 285px;
  border-radius: 5px;
}

.container-promo .item-description {
  padding-top: 15px;
  font-size: 18px;
  color: #ffffff;
  text-transform: uppercase;
  margin: 0;
}

.container-promo .item-price {
  font-size: 24px;
  font-weight: bold;
  color: #ffffff;
  margin-bottom: 30px;
}

.container-promo .item-comprar {
  color: #ffffff !important;
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #0008ff;
  border-radius: 5px;
  padding: 15px;
  border-color: #ffffff;
  border-style: solid;
  border-width: 1px;
}

.section-comments {
  background-color: #000000;
  padding-top: 50px;
}

.container-comments {
  margin-right: 10px;
  text-align: center;
  padding: 20px;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  text-align: center;
}

.container-comments img {
  margin-top: 50px;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  margin-bottom: 30px;
}

.container-comments .name-comment {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
}

.container-comments .city-comment {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  color: #5c5c5c;
}

.container-comments .desc-comment {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
}

footer {
  background-color: #000580;
  display: flex;
  justify-content: left;
  align-items: flex-start;
  color: #ffffff;
}

.networks {
  text-align: right;
}

.footer-title {
  padding-top: 15px;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 28px;
  text-transform: uppercase;
}

.footer-text {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  text-transform: capitalize;
}

.btn-insta {
  width: 45px;
  height: 45px;
  border-radius: 10px;
}

.btn-face {
  width: 50px;
  height: 50px;
  border-radius: 10px;
}

.btn-twitter {
  width: 46px;
  height: 46px;
  border-radius: 10px;
}

.title-login {
  background-color: #000580;
  height: 70px;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-login span {
  background-color: #000580;
  color: #ffffff;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 28px;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  width: 70%;
}

.body-login {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.body-login input {
  background-color: #000000;
  color: #ffffff;
  width: 400px;
  border-style: solid;
  border-color: #ffffff;
  border-radius: 5px;
  border-width: 1px;
  padding: 10px;
  margin-top: 20px;
  margin-left: 20px;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 20px;
}

.body-login button {
  width: 400px;

  border-style: solid;
  border-color: #ffffff;
  border-width: 1px;

  padding: 10px;
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 50px;

  color: #ffffff !important;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 22px;
  /* font-weight: bold; */
  text-transform: uppercase;
  background-color: #0008ff;
  border-radius: 5px;
  padding: 5px;
}

.background-black {
  color: #ffffff;
  background-color: #000000;
}

@media screen and (max-width: 768px) {
  .menu-sanduich {
    display: inline-block;
    padding-top: 25px;
  }

  .options {
    width: 63%;
  }

  .container-grid {
    display: none;
    flex-direction: column;
    width: 250px;
    height: 250px;
    position: absolute;
    top: 0;
    right: 125px;
    background-color: #000580;
  }

  .menu {
    width: 100%;
    display: flex;
    justify-content: right;
    align-items: center;
  }

  .menu ul {
    list-style: none;
    display: inline;
    width: 110%;
    text-align: left;
  }

  .menu ul li {
    display: inline;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }

  .menu a {
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 26px;
  }

  .networks {
    text-align: left;
  }

  .pesquisa-site {
    display: none;
  }

  .menu-ativo {
    display: flex;
  }
}

@media screen and (max-width: 1024px) {
  .barra-pesquisa input {
    width: 70%;
    background-color: black;
    font-family: "Roboto", sans-serif;
    font-size: 24px;
    color: white;
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
  }

  .options {
    width: 80%;
    height: 100%;
    display: inline;
    justify-content: center;
    align-items: center;
  }

  .usuario {
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .usuario img {
    max-height: 50%;
  }

  .usuario span {
    color: #ffffff;
    font-family: "Roboto", sans-serif;
    font-size: 24px;
    padding-left: 10px;
  }

  .pedidos {
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .pedidos img {
    max-height: 50%;
  }

  .pedidos span {
    color: #ffffff;
    font-family: "Roboto", sans-serif;
    font-size: 24px;
    padding-left: 10px;
  }
}
