@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

.header {
  background-color: #000000;
  height: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logomarca {
  width: 100px;
}

.options {
  background-color: red;
  width: 80%;
}

.menu-sanduich {
  width: 576px;
  height: 130px;
  width: 10%;
  display: none;
}

.menu-sanduich img {
  width: 90px;
}

.container-grid {
  background-color: #000580;
  height: 70px;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu {
  width: 100%;
  padding-top: 20px;
}

.menu ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.menu ul li {
  display: inline;
  justify-content: center;
  align-items: center;
}

.menu a {
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 26px;
  margin-right: 50px;
}

.banner {
  width: 100%;
  height: 490px;
  background-image: url(../images/banner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.linha {
  background-color: #ffffff;
  height: 1px;
}

.section-promo {
  background-color: #000000;
  padding-top: 50px;
}

.section-title span {
  color: #ffffff;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 28px;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.container-promo {
  margin-right: 10px;
  text-align: center;
  padding: 20px;
}

.container-promo img {
  margin-top: 50px;
  width: 100%;
  height: 285px;
  border-radius: 5px;
}

.container-promo .item-description {
  padding-top: 15px;
  font-size: 18px;
  color: #ffffff;
  text-transform: uppercase;
  margin: 0;
}

.container-promo .item-price {
  font-size: 24px;
  font-weight: bold;
  color: #ffffff;
  margin-bottom: 30px;
}

.container-promo .item-comprar {
  color: #ffffff !important;
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #000580;
  border-radius: 5px;
  padding: 15px;
  border-color: #ffffff;
  border-style: solid;
  border-width: 1px;
}

.section-comments {
  background-color: #000000;
  padding-top: 50px;
}

.container-comments {
  margin-right: 10px;
  text-align: center;
  padding: 20px;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  text-align: center;
}

.container-comments img {
  margin-top: 50px;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  margin-bottom: 30px;
}

.container-comments .name-comment {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
}

.container-comments .city-comment {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  color: #5c5c5c;
}

.container-comments .desc-comment {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
}

footer {
  background-color: #000580;
  display: flex;
  justify-content: left;
  align-items: flex-start;
  color: #ffffff;
}

.networks {
  text-align: right;
}

.footer-title {
  padding-top: 15px;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 28px;
  text-transform: uppercase;
}

.footer-text {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  text-transform: capitalize;
}

.btn-insta {
  width: 45px;
  height: 45px;
  border-radius: 10px;
}

.btn-face {
  width: 50px;
  height: 50px;
  border-radius: 10px;
}

.btn-twitter {
  width: 46px;
  height: 46px;
  border-radius: 10px;
}

@media screen and (max-width: 768px) {
  .menu-sanduich {
    display: inline-block;
    padding-top: 25px;
  }
  .options {
    width: 63%;
  }

  /*.container-grid {
    display: none;
  }*/

  .container-grid {
    display: none;
    flex-direction: column;
    width: 250px;
    height: 250px;
    position: absolute;
    top: 0;
    right: 125px;
    background-color: #000580;
  }

  /*.menu a {
    text-align: center;
    padding: 15px;
  }*/

  .menu {
    width: 100%;
    display: flex;
    justify-content: right;
    align-items: center;
  }

  .menu ul {
    list-style: none;
    display: inline;
    width: 110%;
    text-align: left;
  }

  .menu ul li {
    display: inline;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }

  .menu a {
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 26px;
  }

  .networks {
    text-align: left;
  }

  /*.posicionamento-header{
    position: relative;
  }*/
}
