@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  background-color: #000000;
}

.background-black {
  color: #ffffff;
  background-color: #000000;
  height: 952px;
}

.header {
  background-color: #000000;
  height: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logomarca-pages {
  width: 100%;
  display: flex;
  justify-self: center;
  align-items: center;
}

.title-login {
  background-color: #000580;
  height: 70px;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-login span {
  background-color: #000580;
  color: #ffffff;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 28px;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  width: 70%;
}

form {
  height: 270px;
}

.body-login {
  display: grid;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.body-login #idusuario {
  padding-left: 20px;
}

.body-login #redefinirsenha {
  padding-left: 150px;
}

.body-login input {
  background-color: #000000;
  color: #ffffff;
  width: 400px;
  border-style: solid;
  border-color: #ffffff;
  border-radius: 5px;
  border-width: 1px;
  padding: 10px;
  margin: 20px;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 20px;
}

.body-login button {
  width: 400px;

  border-style: solid;
  border-color: #ffffff;
  border-width: 1px;

  padding: 10px;
  margin: 20px;

  color: #ffffff !important;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 22px;
  text-transform: uppercase;
  background-color: #0008ff;
  border-radius: 5px;
}

#mensagem {
  margin-top: 30px;
  width: 400px;
  height: 50px;
  background-color: red;
  color: #ffffff;
  border-style: solid;
  border-radius: 5px;
  border-width: 1px;
  display: flex;
  justify-self: center;
  justify-content: center;
  align-items: center;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 18px;
}
