<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Login - GM (Game Mania)</title>
</head>
<body class="background-black">
    <header>
        <div class="header">
            <div class="logomarca-pages">
                <a href="index.html"><img src="assets/img/Logomarca.png" alt="logomarca do site" /> </a>
            </div>
        </div>
        <div class="title-login">
            <span>Informe seus dados de acesso</span>
        </div>
    </header>
    <div class="body-login">
        <form #userForm="ngForm" (ngSubmit)="onSubmit()">
            <input type="email" name="email" id="email" placeholder="E-mail" required [(ngModel)]="loginModel.email"><br/>
            <input type="password" name="senha" id="senha"  placeholder="Senha" required [(ngModel)]="loginModel.password" ><br/>

            <button type="submit" id="btn-entrar">Entrar</button> <br>
        </form>
        <table>
          <tr>
            <td><a id="idusuario" routerLink="../usuario">Cadastrar Usuário</a></td>
            <td><a id="redefinirsenha" routerLink="">Redefinir Senha</a></td>
          </tr>
        </table>
        <p id="mensagem" *ngIf="mensagem != ''">{{ mensagem }}</p>
    </div>
</body>

</html>
