<header (window:resize)="onResize($event)">
  <div class="header">
      <div class="logomarca">
          <a href="#"><img src="assets/img/Logomarca.png" alt="logomarca do site" /> </a>
      </div>
      <div class="pesquisa-site">
          <div class="barra-pesquisa">
              <input (keydown)="onKeydown($event)" id="pesquisar" type="text" placeholder="Buscar..." />
              <img src="assets/img/pesquisar-transparente.png" alt="pesquisar">
          </div>
      </div>
      <div class="options">
          <div class="usuario">
              <a routerLink="login"><img src="assets/img/usuario.png" alt="conta">
              <span>Login</span></a>
          </div>
          <div class="pedidos">
              <a href="#"><img src="assets/img/carrinho.png" alt="pedidos">
              <span>Pedidos</span></a>
          </div>
      </div>
      <div class="menu-sanduich">
          <a href="#" id="barras"><img src="assets/img/nav-sanduich.jpg" alt="logomarca do site" /> </a>
      </div>
  </div>
  <div id="menu" class="container-grid">
      <nav class="menu">
          <ul *ngFor="let item of menus">
              <li><a routerLink="{{item.toLowerCase()}}">{{item}}</a></li>
          </ul>
      </nav>
  </div>
</header>
