<footer>
  <div class="container">
      <div class="row">
          <div class="col-md">
              <p class="footer-title">Conteúdo:</p>
              <p class="footer-text">Fale Conosco</p>
              <p class="footer-text">Quem Somos</p>
              <p class="footer-text">Política de Privacidade</p>
              <p class="footer-text">Ouvidoria</p>
          </div>

          <div class="col-md">
              <p class="footer-title">Contatos:</p>
              <p class="footer-text">Telefone: (99) 99999-9999</p>
              <p class="footer-text">Whatsapp: (99) 99999-9999</p>
              <p class="footer-text">E-mail: atendimento@gamemania.com.br</p>
          </div>

          <div class="networks col-md">
              <p class="footer-title">Redes Sociais:</p>
              <span><a href="https://www.instagram.com/"><img class="btn-insta" src="assets/img/instagram.png" alt="Instagram" /> </a></span>
              <span><a href="https://www.facebook.com/"><img class="btn-face" src="assets/img/facebook.png" alt="Facebook" /> </a></span>
              <span><a href="https://www.twitter.com/"><img class="btn-twitter" src="assets/img/twitter.png" alt="Twitter" /> </a></span>
          </div>
      </div>
  </div>
</footer>
